<h2>New Protein</h2>

<form action="/proteins" method="post">
  <label for="protein[name]">Name:</label>
  <input name="protein[name]">

  <label for="protein[photo_url]">Photo URL:</label>
  <input name="protein[photo_url]">

  <label for="protein[brand]">Brand:</label>
  <input name="protein[brand]">

  <label for="protein[goals]">Goals:</label>
  <input name="protein[goals]">

  <label for="protein[description]">Description:</label>
  <input name="protein[description]">

  <input type="submit" value="Create">
</form>